.container{
    border: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mapCont{
    border: 5px;
    display: block;
}
.imageitem{
    width:300px;
    margin: 0 auto;
    height: auto;
    opacity: 0.5;
}
.mapGame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%
}
.mapText{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.hardInput{
    width:300px;
    margin: 0 auto;
    height: auto;
    opacity: 0;
}
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }